*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    background-color:blue;
    color: white;
    padding: 1%;
    text-align: center;
}
nav{
    color: blue;
    font-size: 1.8rem;
    font-weight: 500px;
    margin-left: 30%;
  
}
nav li{
    list-style: none;
    display: inline-block;
    padding: 1%;
    text-align: center;
    
   
}
nav li a{
    text-decoration: none;
    
}
.container{
    background-color: blue;
    padding: 2%;
    font-size: 1.5rem;
    margin-bottom: 1%;
}
.image img{
    height: 50vh;
    width: 100%;

}
.about{
    background-color: white;
    padding: 1%;
    text-align: center;
}
.about h2{
    color: blue;
}
.abouts{
    background-color: white;
    padding: 1%;
}
.abouts h4{
    color: blue;
}

.services{
    background: url( '../img/Audit\ and\ Assurance.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5%;

}
.service{
    padding: 2%;
    margin-left: 25%;
    background-color: blue;
    width: 60%;
    border-radius: 10px;
}
.service h2{
    color:white;
    font-size: 3rem;
    margin-left: 20%;
}
.services ul{
    color: white;
    font-weight: bold;
}
.service ul a{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5;
}
#learn{
    background-color: white;
    color: blue;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
  
}
#learn a{
    text-decoration: none;
}




.mission{
    padding: 2%;
}
.mission h2{
    color: blue;
}
.values{
    background-color: blue;
    padding: 2%;
}
.our-values{
    text-align: center;
    font-size: 1.5rem;
}
.our-values h2{
    color:blue;

}
.overall{
    border-radius: 10px;
    background-color: white;
    
}
.row{
    background-color: white;
    padding: 2%;
}
.row h3{
    color:blue;
}
.col-md-4{
    padding: 2%;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
}

footer{
    background-color: blue;
    padding: 1%;
}
.enclose .row{
    background-color: blue;
}
.enclose .row .col-md-4{
    background-color: blue;
    
}
.enclose .row .col-md-4 a{
    color: white;
}

/* careers page*/

.career{
    background-color: white;
    padding: 2%;
}
.careerss{
    text-align: center;
}
.careerss h2{
    color:blue;
}
.careers h4{
    color: blue;

}

/* services page*/

.servicces{
    background-color: white;
    padding: 2%;
}
.servicces h2{
    text-align: center;
    color: blue;
}
.par{
    text-align: center;
}

.servicces h4{
    color: blue;
}
.servicces h3{
    color: blue;
}
.key-industries{
    text-align: center;
    color: white;
    font-weight: bold;
}