*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    background-color:blue;
    color: white;
    padding: 1%;
    text-align: center;
}
nav{
    color: blue;
    font-size: 1.8rem;
    font-weight: 500px;
    margin-left: 30%;
  
}
nav li{
    list-style: none;
    display: inline-block;
    padding: 1%;
    text-align: center;
    
   
}
nav li a{
    text-decoration: none;
    
}
.container{
    background-color: blue;
    padding: 2%;
    font-size: 1.5rem;
    margin-bottom: 1%;
}
.image img{
    height: 50vh;
    width: 100%;

}
.about{
    background-color: white;
    padding: 1%;
    text-align: center;
}
.about h2{
    color: blue;
}
.abouts{
    background-color: white;
    padding: 1%;
}
.abouts h4{
    color: blue;
}
.mission{
    padding: 2%;
}
.mission h2{
    color: blue;
}
.values{
    background-color: blue;
    padding: 2%;
}
.our-values{
    text-align: center;
    font-size: 1.5rem;
}
.our-values h2{
    color:blue;

}
.overall{
    border-radius: 10px;
    background-color: white;
    
}
.row{
    background-color: white;
    padding: 2%;
}
.row h3{
    color:blue;
}
.col-md-4{
    padding: 2%;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
}

footer{
    background-color: blue;
}